<%= simple_form_for [@pet, @service] do |f| %>
  <div class="form-inputs">
    <%= f.association :user, collection: User.where(petwalker: true), label: "Petwalker", label_method: :email %>
    <%= f.input :schedule, label: 'Schedule:', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
