<div class="row row-cols-3">
  <% @services.each do |service| %>



    <%= render 'service', service: service %>



  <% end %>
</div>


<%= link_to 'Back to home', root_path, class: 'btn btn-primary' %>
