<!--Dogs Walkers-->
<div class="card-container">
  <div class="cards-walkers">

    <% @petwalkers.each do |petwalker| %>
    <div class="card-walker">
      <% if petwalker.photo.attached? %>
        <%= cl_image_tag petwalker.photo.key, class: 'card-img-top' %>
      <% else %>
        <%= image_tag "petwalker.png", class: "card-img-top"%>
      <% end %>

      <div class="card-user">
        <h5 class="card-title"></h5>
          <%= link_to petwalker.email, user_path(petwalker) %>
          <p class="card-description">Description</p>
      </div>
    </div>
    <% end %>

  </div>
</div>

<!--Footer-->
<div class="footer">
  <p>The walking pet team</p>
</div>
