<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @users.each do |user| %>
  <%= link_to user.email, user_path(user) %>
  <%= link_to 'RESERVAR', new_pet_path, class: 'btn btn-primary' %>
<% end %>
