  <!-- Banner -->
  <div class="banner color justify-content-star">
    <div class="banner-inf">
    <h5 class="title-home">The Walking Pet</h5>
      <p></p>
    </div>
  </div>

    <br>

  <!--Dogs Walkers-->
  <div class="card-container">
    <div class="cards-walkers">

      <% @petwalkers.each do |petwalker| %>
      <div class="card-walker">
        <% if petwalker.photo.attached? %>
          <%= cl_image_tag petwalker.photo.key, class: 'card-img-top' %>
        <% else %>
          <!--<i class="fa-solid fa-paw card-img-top"></i>-->
          <p>
          <%= image_tag "walkers.jpeg", size: "auto", style: "border-radius: 20%", class: "card-img-top"%>
          </p>
        <% end %>
        <div class="card-user">
          <h5 class="card-title"></h5>
            <%= link_to petwalker.email, user_path(petwalker) %>
            <p class="card-description">Description</p>
        </div>
      </div>
      <% end %>

    </div>
  </div>

  <!--Footer-->
  <div class="footer">
    <p>The walking pet team</p>
  </div>
