<div class="container">

  <div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" action="#" method="post">
				<div class="flexsearch--input-wrapper">
					<input class="flexsearch--input" type="search" placeholder="search">
				</div>
        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
			</form>
		</div>
  </div>

  <br>

  <div class="card" style="width: 18rem;">
    <div class="card-body color">
      <h5 class="card-title">The Walking Pet</h5>
      <a href="#" class="card-link">Owners</a>
      <a href="#" class="card-link">Dogs Walkers</a>
    </div>
  </div>

  <br>

  <div class="card-walkers" style="width: 18rem;">
    <cl_image_tag>
    <div class="card-wlakers body">
      <h3>Name</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>

</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @users.each do |user| %>
  <%= link_to user.email, user_path(user) %>
  <%= link_to 'RESERVAR', new_pet_path, class: 'btn btn-primary' %>
<% end %>
