.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand {
  font-size: 30px;
  text-decoration: none;
  font-family: $headers-font;
  color: $gray;

  &:hover {
    color: $gray;
  }
}
