.get_in_touch {
  max-width: 700px;
  margin: 50px auto;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.get_in_touch .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 49px;
  padding-bottom: 20px;
  color: "5543ca";
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {  // this is title of the edit_user form
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 49px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  line-height: 26px;
  font-weight: 400;
  background-color: #f4f4f4;
}


.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label,
.contact-form .input-text:not(:placeholder-shown) + .label {
  transform: translateY(-24px);
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 6px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}

.contact-form .label-edit {
  position: absolute;
  left: 20px;
  bottom: 6px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}

.contact-form .input-text:focus + .label-edit,
.contact-form .input-text.not-empty + .label-edit,
.contact-form .input-text:not(:placeholder-shown) + .label-edit {
  transform: translateY(-24px);
}

.contact-form .label-edit-name {
  position: absolute;
  left: 14px;
  bottom: 26px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}

.contact-form .input-text:focus + .label-name,
.contact-form .input-text.not-empty + .label-name,
.contact-form .input-text:not(:placeholder-shown) + .label-edit-name {
  transform: translateY(-24px);
}

.contact-form .label-edit-2{
  position: absolute;
  left: 14px;
  bottom: 57px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  text-transform: capitalize;
}

// service form

.contact-form .label-service{
  position: absolute;
  left: 5px;
  bottom: 38px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  text-transform: capitalize;
}

.contact-form .label-edit-collection {
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  text-transform: capitalize;
}

.contact-form .label-edit-3 {
  position: absolute;
  left: 14px;
  bottom: 22px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}

.contact-form .input-text:focus + .label-edit-3,
.contact-form .input-text.not-empty + .label-edit-3,
.contact-form .input-text:not(:placeholder-shown) + .label-edit-3 {
  transform: translateY(-24px);
}

.contact-form .label-edit-num {
  position: absolute;
  left: 20px;
  bottom: 6px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}

.contact-form .input-text:focus + .label-edit-num,
.contact-form .input-text.not-empty + .label-edit-num,
.contact-form .input-text:not(:placeholder-shown) + .label-edit-num {
  transform: translateY(-24px);
}

.contact-form .label-edit-dic {
  position: absolute;
  left: 20px;
  bottom: 4px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform .2s ease-in-out;
}

.contact-form .input-text:focus + .label-edit-dic,
.contact-form .input-text.not-empty + .label-edit-dic,
.contact-form .input-text:not(:placeholder-shown) + .label-edit-dic {
  transform: translateY(-24px);
}

.contact-form .photo{
  position: absolute;
  left: 20px;
  bottom: 60px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
}

.contact-form .submit-btn {
  display: inline-block;
  background-image: linear-gradient(125deg, #a72979, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 9px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}
