.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.profile-img{
  text-align: center;
}

.profile-img img{
  width: 70%;
  height: 100%;
}

.profile-head h5{
  color: #333;
}

.profile-head h6{
  color: #0062cc;
  font-weight: 400;
}

.profile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.profile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:2%;
}

.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}

.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
